.gitignore

*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
*/cache/!.htaccess

/application/*
/application/!libraries/
/application/libraries/*
/application/libraries/!jasmine.php
/application/!controllers/
/application/controllers/*
/application/controllers/!specs.php
/index.php
/system/
